       h1,
       h2,
       nav {
           display: flex;
           justify-content: center;
           align-items: center;
       }
       
       body {
           background-color: blueviolet;
           font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
       }
       
       h1 {
           color: antiquewhite;
           font-size: 75px;
       }
       
       h2 {
           color: antiquewhite;
           font-size: 45px;
       }
       
       a {
           color: whitesmoke;
           line-height: 10mm;
           font-size: 25px;
       }
       
       form {
           color: blueviolet;
       }
       
       #homebox {
           background: white;
           width: 300;
           height: 300;
           padding: 0;
           margin-top: 50px;
           overflow: auto;
       }
       
       #signbox {
           background: white;
       }
       
       aside {
           padding: 250px 100px;
           text-align: end;
           float: right;
       }
       
       #contactbox {
           background: white;
       }
       
       #contact-label {
           color: blueviolet;
       }
       
       #home,
       #sign,
       #cont {
           display: inline-block;
           width: 150px;
           height: 35px;
           background: rgba(166, 190, 26, 0.267);
           text-decoration: none;
       }
       
       img#cntn#ok#welcome {
           padding: 0;
           margin: 0;
       }
       
       @media (max-width:768px) {
           h1 {
               display: flex;
               justify-content: center;
               align-items: center;
               margin-left: 25%;
           }
       }